{% extends "base.html" %}
{% block content %}

<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
			<h1><center>Chord Node</center></h1>
			<h2><center>Final Project | Building Distributed Systems</center></h2>
		</header>
		<section>
			<p><center>Main Buttons to Use Chord<center></p>
				<form action="/join" method="post">
					<input class="button" type="submit" name="joinButton" value="Join">
				</form>
				<form action="/leave" method="post">
					<input class="button" type="submit" name="leaveButton" value="Leave">
				</form>
				<form action="/search" method="post">
					<a href="#" class="button">Search</a>
				</form>
				<form action="/upload" method="post">
					<label class="button special icon fa-upload">
						Upload File <input type="file" style="display:none;" name="uploadButton">
					</label>
				</form>
				<form action="/file" method="post">
					<p> Type the name of the file that you want to download.
					<input type="text" name="file"> <br>
					<input class="button special icon fa-download" type="submit" name="downButton" value="Download File">
					</p>
				</form>
		</section>
	</div> <!-- End of inner-->
</div>
<!-- End of Main-->

{% endblock %}