{% extends "base.html" %}
{% block content %}

<!-- Main -->
	<div id="main">
		<div class="inner">
			{% if successFiles|length > 0  %}
			<h3>Successfully uploaded the following file(s):</h3>
				<ul>
					{% for success in successFiles %}
						<li>{{ success }}</li>
					{% endfor %}
					<p>If there are files missing, try uploading them later.</p>
				</ul>
			{% elif failure == true %}
				<h3>Chord could not upload any of the files. <br>This the only node in the system.</h3>
			{% else %}
				<h3>No files chosen.</h3>
			{% endif %}
		</div>
	</div>
<!-- End of Main -->
{% endblock %}
